html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(/AppData/triangles-colorful-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*div {
    display: block;
}*/
h1 {
    color: whitesmoke;
}
h5 {
    color: #111111;
}
p {
    font-size: 20px;
    color: whitesmoke;
}
.button-container {
    text-align: center;
}

.my-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 60px;
    padding: 20px;
    margin: auto auto auto auto;
}

.my-contaiter-item {
    background-color: rgba(255, 255, 255, 0.7);
    /*background: rgba(0,0,0,0);*/
    text-align: center;
    padding: 60px 0;
    font-size: 30px;
    border-radius: 35px;
}

.c-item-1 {
/*    border-style: solid;
    border-color: blue yellow darkblue hsla(60, 90%, 50%, .8);*/
    box-shadow: 7px 3px 4px navy;
}
.c-item-2 {
    box-shadow: 7px 3px 4px yellowgreen;
}
.c-item-3 {
    box-shadow: 7px 3px 4px gold;
}
.c-item-4 {
    box-shadow: 7px 3px 4px indianred;
}
/*#div-button-small{
    align-self: center;
}*/
.button-small {
    /* background-color: #FFFFFF;*/
    background: rgba(0,0,0,0);
    color: black;
    border-color: white;
    font-size: 20px;
    border-radius: 35px;
    padding: 15px 40px;
    margin: 0 auto 0 25px;
}



